<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Support Karte</title>

<script type="text/javascript">
  <!--

  {% for i in contents %}
    function hidebox_{{ i }}(){
      document.getElementById("boxblock{{ i }}").style.display = "none";
    }

    function showbox_{{ i }}() {
      document.getElementById("boxblock{{ i }}").style.display = "block";
    }    
  {% endfor %}

  window.onload = function(){
    showbox();
  };

//-->
</script>

</head>

<body>


-----

<form id="f1" action="#">
     <p>
     {% for i in contents %}
	<input type="button" value="ADD" onclick="showbox_{{ i }}()"> 
	<input type="button" value="Delete" onclick="hidebox_{{ i }}()">
        <div id="boxblock{{ i }}">
         夕方になると胸が痛くなると
        </div>
     {% endfor %}
     </p>
</form>
-----

</body>
</html>
