sample/
tmp/

*.pyc
view/*
!app.js
!parallelCoordinatesChart*
!sunburst.html
!cumulativeLineChart*
!bulk_data.py
!outcome_evaluation.html
!find_similar_patient.html
!find_treatment_effect.html
!ATE.html
!js
!css
!*.py
!template/

dic_output
.DS_Store
.git
small_data/
make_dataset/small
output
elastic_search/*
!*mapping.json
processed_data

flask/learn
flask/templates/build
flask/templates/css
flask/templates/js
flask/templates/fonts

Speech/data
Speech/karte
Speech_UI/o_*
Speech_UI/css/*
!index.css
Speech_UI/js
Speech_UI/fonts

text_summarization/log_root
text_summarization/binary_train
text_summarization/train
text_summarization/test.h
text_summarization/data
text_summarization/textsum
text_summarization/Natinal_Exam
text_summarization/Raw_data
text_summarization/NE109

textsum
