sample/
tmp/
*.pyc
view/*
!app.js
!parallelCoordinatesChart*
!sunburst.html
!cumulativeLineChart*
!bulk_data.py
!outcome_evaluation.html
!find_similar_patient.html
!find_treatment_effect.html
!ATE.html
!js
!css
!app.py
!template/

dic_output
.DS_Store
.git
small_data/
make_dataset/small
output
elastic_search/*
!*mapping.json
processed_data
flask/*
templates
