<title>deepVoice</title>
<script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">

</script>
<link href="css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
        a: document.getElementById ('prime').value,
        b: document.getElementById ('life').value,
        c: document.getElementById ('past').value,
        d: document.getElementById ('family').value,
        e: document.getElementById ('alle').value,
        f: document.getElementById ('pharm').value,
        g: document.getElementById ('history').value
      }, function(data) {
        $('#result').text(data.result);
      return false;
    };

    $('a#calculate').bind('click', submit_form);

    $('input[type=textarea]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });

    $('input[name=a]').focus();
  });
</script>

<h1>Your Karte</h1>
<div id="karte">
  <h4>現病歴</h4>
 <div class="form-group">
    <textarea rows="10" cols="50" name="g" id="history">
          病院に行こうと考えました
眠の薬を毎日飲んでました
頭にくらっとするめまいを感じました
頭痛はありませんでした
方はいらっしゃいますか
母は時々頭痛があるみた
汗をかいた
胸痛やよまでに経験した
耳が詰まった
気分はいかがでしょうか。車椅子のままで良いのでお話を伺えますか
大丈夫です
「くらっとするめまい」は機能のいつ頃、何をしている時に、どのような症状をどこに感じた
耳鳴り耳の周りが痛いということはないですか
ないです

どちらかに頭を動かすと頭痛がした
熱があるとか、 痺れや力が入らないなどはありませんかまた
水が出たりということはありませんか
ありません

頭痛が始まる前に前兆のような症状はありますか例えば目の前がキラキラした
薬が増えた
息子に連絡しました
ペットまで貼っていき横になっていました
鼻水が出た
胸が圧迫されるような共通や今までに経験した
尿や便を漏らしていきませんでした
夜7時頃、晩ご飯の前に、椅子を座ってテレビのニュースを見て言いました
力が入らないなどはありませんかまた
体重の変化はありませんか？
1ねんぐらい前は85kgまで増えてました
めまいということですが、今のご気分はいかがでしょうか。車椅子のままで良いのでお話を伺えますか
大丈夫です
「くらっとするめまい」は機能のいつ頃、何をしている時に、どのような症状をどこに感じた
風邪みたいな症状があって町医者に行った
充血したり顔に汗をかいた
酒はいかがですか。
タバコは1日15本ぐらい吸います、酒は時々ビールを一缶程度ですかね。

お仕事で薬品とか有機溶媒を扱うことはありませんか
はいそういうことはありません。中小企業の経理をしています。

健診は受けておられます。
前は受けていた
糖尿病と言われた
目の前がぐるぐる回るように感じた
痛みは初めてですか
いいえ実は以前から時々会っていつもの痛みと言ってます 

どのような痛みですか。
頭の片側がズキズキするような痛みで気分が悪くて吐いてしまいます

嘔吐以外に何か症状はありますか例えば目が充血した
便を漏らしていきませんでした

    </textarea>
 </div>
 <p><span id="result">?</span></p>

 <div class="form-group">
  <a href=# id="calculate" class="btn btn-link">Learning</a>
 </div>