<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="css/find_similar_patient.css"  />
<link href="css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-dropdownhover.css">
</head>
 <script language="javascript" type="text/javascript">
 <!--
 function Display(no){
     if(no == "no1"){
         document.getElementById("SW1").style.display = "block";
         document.getElementById("SW2").style.display = "none";
         document.getElementById("SW3").style.display = "none";
     }else if(no == "no2"){
         document.getElementById("SW1").style.display = "none";
         document.getElementById("SW2").style.display = "block";
         document.getElementById("SW3").style.display = "none";
     }else if(no == "no3"){
         document.getElementById("SW1").style.display = "none";
         document.getElementById("SW2").style.display = "none";
         document.getElementById("SW3").style.display = "block";
     }
 }
 -->
 </script>

<div id="top">
          <div class="dropdown dropdown-inline">
            <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="flipInX flipInY flipInX flipInY">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="ATE.html">介入</a></li>
              <li><a href="find_similar_patient.html">類似患者検索</a></li>
              <li class="dropdown">
                <a href="#">ベッド計算 <span class="caret"></span></a>
                <ul class="dropdown-menu dropdownhover-right">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><a href="#">問い合わせ</a></li>
              <li class="divider"></li>
              <li><a href="#">What we are</a></li>
            </ul>
          </div>
</div>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-dropdownhover.js"></script>

<h1>治療効果</h1>


<div id="outcome">
   <a href="javascript:;" onclick="Display('no1')">降圧薬</a>
   <a href="javascript:;" onclick="Display('no2')">血糖降下薬</a>
   <a href="javascript:;" onclick="Display('no3')">コレステロール</a>
 </div>

<div id="res_window">
   <div id="SW1">
     <iframe width="560" height="315" src="done_ATE_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
   </div>

   <div id="SW2" style="display:none;">
        <iframe width="560" height="315" src="done_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
   </div>

  <div id="SW3" style="display:none;">
        <iframe width="560" height="315" src="done_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


</html>
