<link rel="stylesheet" type="text/css" href="css/find_similar_patient.css"  />
 <script language="javascript" type="text/javascript">
 <!--
 function Display(no){
     if(no == "no1"){
         document.getElementById("SW1").style.display = "block";
         document.getElementById("SW2").style.display = "none";
         document.getElementById("SW3").style.display = "none";
     }else if(no == "no2"){
         document.getElementById("SW1").style.display = "none";
         document.getElementById("SW2").style.display = "block";
         document.getElementById("SW3").style.display = "none";
     }else if(no == "no3"){
         document.getElementById("SW1").style.display = "none";
         document.getElementById("SW2").style.display = "none";
         document.getElementById("SW3").style.display = "block";
     }
 }
function screenChange(){
    pullSellect = document.pullForm.pullMenu.selectedIndex ;
    location.href = document.pullForm.pullMenu.options[pullSellect].value ;
}

 -->
 </script>

<h1>Finding Similar Patients</h1>

<form name="pullForm">
    <select name="pullMenu" onChange="screenChange()">
        <option value="ATE.html">介入</option>
        <option value="ATE.html">介入</option>
    </select>
</form>
 <div id="outcome"> 
 <a href="javascript:;" onclick="Display('no1')">SW1</a>
 <a href="javascript:;" onclick="Display('no2')">SW2</a>
 <a href="javascript:;" onclick="Display('no3')">SW3</a>
 </div> 
 <div id="SW1">
 <iframe width="560" height="315" src="done_ATE_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
 </div>
  
 <div id="SW2" style="display:none;">
        <iframe width="560" height="315" src="done_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
 </div>

<div id="SW3" style="display:none;">
        <iframe width="560" height="315" src="done_cumulativeLineChart.html" frameborder="0" allowfullscreen></iframe>
</div>

